.App {
  text-align: center;
  height: 100vh 100%;
  width: 100%;
 background-image: url(https://t3.ftcdn.net/jpg/05/01/73/12/360_F_501731206_9i87OIq3s9xcnXGCX51gbrsuaJJe9hAv.jpg);
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

Footer{
  position: absolute;
  bottom: 0;
}

